In [3]:
import pandas as pd

In [5]:
s = pd.Series([1, 2, 3, 4])
print(s)

0    1
1    2
2    3
3    4
dtype: int64

In [6]:
data = {'Nombre' : ['Luis', 'Ana', 'Jorge', 'María'], 'Edad' : [23, 30, 48, 65]} # Diccionario

df = pd.DataFrame(data)
print(df)

  Nombre  Edad
0   Luis    23
1    Ana    30
2  Jorge    48
3  María    65